bin/
dist/
lib/
node_modules/
packages/backend/prisma/migrations
packages/backend/prisma/schema/migrations
packages/backend/src/prisma

*.DS_Store
package-lock.json
swagger.json
openai.json
.npmrc
*.log
