name: build
on: 
  push:
    paths:
      - 'prisma/**'
      - 'src/**'
      - 'test/**'
      - 'package.json'
  pull_request:
    paths:
      - 'prisma/**'
      - 'src/**'
      - 'test/**'
      - 'package.json'
jobs:
  Ubuntu:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgis/postgis:16-3.4
        env:
          POSTGRES_PASSWORD: root
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - uses: pnpm/action-setup@v4
        with:
          version: 8
      
      - name: Install Backend-Server
        run: pnpm install

      - name: Compile Backend-Server
        run: npm run build
      
      - name: Create DB Schema
        run: npm run schema postgres root

      - name: Test Backend-Server
        run: npm run test -- --reset true
