name: build
on: [push, pull_request]

jobs:
  Ubuntu:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgis/postgis:16-3.4
        env:
          POSTGRES_PASSWORD: root
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
      
      - name: Install Backend-Server
        run: npm install -g pnpm && pnpm install

      - name: Compile Backend-Server
        run: pnpm run build
      
      - name: Create DB Schema
        run: pnpm run schema postgres root

      - name: Test Backend-Server
        run: pnpm run test -- --reset true